{% extends "base_generic.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
<div class="signup-form form">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button class="button">Sign up</button>
    </form>
</div>
{% endblock %}

{% block footer %}
<a href="/login">Log in</a>
{% endblock %}
