<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="" />
        <title>Bibliotec - {% block title %}{% endblock %}</title>
        <style>
            html, body{
                font-family: Roboto, sans-serif;
            }
            .wrapper {position: absolute; max-width: 560px;top: 20px; left: 0; right: 0;max-height: 480px; margin: auto}
            .content-wrapper{ margin: auto; box-shadow: 0px 0px 2px rgba(0,0,0,.3);  padding: 60px; border-radius: 3px; border-bottom: 1px solid rgba(0,0,0,0.2)}
            .slot {display: flex;}
            header { text-align: center; }
            header h2 a { font-weight: normal; color: rgba(0,0,0,.9); text-decoration: none}
            .form { width: 100% ; max-width: 400px; margin: auto}
            .form label, .form input{ display: block; width: calc(100% - 20px) }
            .form input {
                border: 0;
                border-bottom: 1px solid rgba(0,0,0,.3);
                padding: 12px 10px;
                background: rgba(0,0,0,.01);
                border-top:2px solid transparent;
                border-radius: 3px;
            }
            .form input:focus{
                border-bottom:2px solid rgb(66, 124, 168) ;
                border-top:0;
                transition: border-bottom .15s;
            }
            .form .button {
                background:rgb(66, 124, 168) ;
                display: block;
                padding: 10px 18px;
                border: 0;
                margin: 10px 0;
                color: #fff;
                float: right;
                border-radius: 5px;
                font-size: .875rem;
                text-transform: uppercase;
                cursor: pointer;
            }
            .form .button:active {
                background:rgb(46, 104, 148) ;
                transition: background 0.2s
            }
            footer { margin: 10px }
            footer a {
                color: rgba(0, 0, 0, .8);
                text-decoration: none;
                font-size: 13px;
            }
            footer a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="content-wrapper">
                <header>
                    <h2><a href="/auth">📘 Bibliotec</a></h2>
                </header>
                <div class="slot">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <footer>{% block footer %}{% endblock %}</footer>
        </div>
    </body>
</html>
