{% extends "base_generic.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="login-form form">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <button class="button">Log in</button>
    </form>
</div>
{% endblock %}
{% block footer %}
<a href="/auth">Sign up</a>
{% endblock %}
